.btn {

  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all .2s;

  &--primary {
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    border: 2px solid $color-primary;

    font-size: 1.4rem;
    color: $color-primary;
    font-weight: 600;

    &:hover {
      color: white;
      background-color: $color-primary;
    }
  }

  &--secondary {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    background-color: $color-purple;
    padding: 2rem 3rem;
    border-radius: 100px;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 15px 5px rgba(0,0,0,.2);
    }
  }

  &--services {
    background-color: $color-green;
    color: white;
    padding: .8rem 5rem;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &--contract {
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    border-radius: 100px;
    box-shadow: 0 3px 0 1px $color-primary-dark;
    font-weight: bold;
    font-size: 1.6rem;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 10px 3px rgba($color-primary-dark, .8);
    }
  }

  &--is-green {
    background-color: $color-green-dark;
  }

}