//COLORS

$color-primary: rgba(68, 93, 155, 1);
$color-primary-light: #2C2C2C;
$color-primary-dark: #43438f;

$color-purple: rgba(125, 91, 225, 1);
$color-purple-light: rgba(151, 93, 171, 1);

$color-blue: rgba(31, 160, 197, 1);

$color-blue-dark: rgba(68, 93, 155, 1);
$color-blue-light: rgba(87, 161, 193 ,1);

$color-blue-price: rgba(35, 69, 115, 1);

$color-green: rgba(99, 209, 179, 1);
$color-green-dark: rgba(57, 231, 183, 1);

$color-yellow: rgba(245, 197, 43, 1);

html {
  font-size: 10px;
}

html, * {
  margin: 0;
  padding-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Titillium Web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;

  overflow-x: hidden;

}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: rgba(255,255,255,2);
  text-decoration: none;
  transition: all .5s;

  &:hover {
    border-bottom: 1px solid rgba($color: #fff, $alpha: .5)
  }
}

.is {

  &--green {
    color: rgba(57, 232, 184, 1);
  }

}