//COLORS

$color-primary: rgba(68, 93, 155, 1);
$color-primary-light: #2C2C2C;
$color-primary-dark: #43438f;

html {
  font-size: 10px;
}

html, * {
  margin: 0;
  padding-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Titillium Web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;

  overflow-x: hidden;

}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: rgba(255,255,255,2);
  text-decoration: none;
  transition: all .5s;

  &:hover {
    border-bottom: 1px solid rgba($color: #fff, $alpha: .5)
  }
}

.is {

  &--green {
    color: rgba(57, 232, 184, 1);
  }

}